.generalDiv{
    width: 50rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
  }

@media only screen and (max-width: 768px) {
    .generalDiv{
        width: 24rem;
        height: auto;
    }
  }