.react-calendar {
  width: auto;
}
.react-calendar__tile--now {
  background-color: hsl(330, 100%, 50%);
  color: #fff;
}

.react-calendar__tile--now:hover {
  background-color: hsl(330, 100%, 50%);
}
.react-calendar__tile--active {
  background-color: hsl(48, 100%, 50%) !important;
}
.react-calendar__tile--active:hover {
  background-color: hsl(48, 100%, 50%) !important;
}
.react-calendar {
  background: none;
}
.react-calendar__tile--now:enabled:hover,
.react-calendar__tile--now:enabled:focus {
  background: hsl(330, 100%, 50%);
}

.react-calendar__month-view__days button:not([disabled]) {
  border-radius: 10px;
}
