/* .rbc-today {
  background-color: #1dbab5;
  border-radius: 10px;
  color: white;
} */
/* Replace your existing CSS with this */
/* Replace your existing CSS with this */
.rbc-btn-group button {
  background-color: #4e9bfe;
  color: #fff;
  padding: 5px 10px;
  border: none;
  cursor: pointer;
  font-weight: 600;
}
.rbc-day-bg {
  position: relative;
  cursor: pointer;
  margin: 8px;
  border: 2px solid #4e9bfe;
  border-radius: 12px;
  background-color: #eaf6ff;
}
.rbc-date-cell {
  padding-right: 15px;
  padding-top: 10px;
  font-weight: 600;
}
.rbc-month-row + .rbc-month-row {
  border: none;
}
.rbc-day-bg + .rbc-day-bg {
  border-left: 2px solid #4e9bfe;
}
.rbc-month-view {
  border: 2px solid #4e9bfe;
  border-radius: 15px;
}
.rbc-today {
  background-color: #4e9bfe;
  color: #fff;
}
.rbc-current {
  color: #fff;
}
.rbc-header {
  margin: 8px;
  border-bottom: 2px solid #4e9bfe;
}
.rbc-header + .rbc-header {
  border-left: none;
}
.rbc-off-range-bg {
  background-color: #f8f8f8;
}
.rbc-off-range {
  color: #000;
}
.rbc-event {
  width: 100px;
}
.rbc-event-content {
  font-size: 13px;
  width: 100px;
}
.rbc-row-segment {
  display: flex;
  align-items: center;
  justify-content: center;
}
.rbc-allday-cell {
  display: none;
}
.gettedAppointmentsNumberDiv {
  background-color: green;
  border-radius: 50%;
}
.gettedAppointmentsNumber {
  color: #fff;
  font-weight: 600;
  font-size: medium;
}
.rbc-event {
  background-color: #1bce94;
}
.rbc-show-more {
  background-color: rgba(255, 255, 255, 0);
  z-index: 4;
  font-weight: bold;
  font-size: 85%;
  height: auto;
  line-height: normal;
  color: #3174ad;
}

@media only screen and (max-width: 768px) {
  .rbc-btn-group {
    display: none;
  }
  .rbc-event {
    width: 44px !important;
  }
  .rbc-event-label {
    display: none;
  }
  .rbc-header {
    border-radius: 50%;
    border-bottom: none;
  }
  span[role="columnheader"]:before {
    content: attr(data);
    display: inline-block;
    width: 0;
    overflow: hidden;
  }
}
