.rbc-btn-group button {
  background-color: #4e9bfe;
  color: #fff;
  padding: 5px 10px;
  border: none;
  cursor: pointer;
  font-size: 1vw;
  font-weight: 600;
}

.rbc-day-bg {
  position: relative;
  cursor: pointer;
  margin: 8px;
  border: 2px solid #4e9bfe;
  border-radius: 12px;
  background-color: #eaf6ff;
}
.rbc-date-cell {
  padding-right: 15px;
  padding-top: 10px;
  font-weight: 600;
}
.rbc-month-row + .rbc-month-row {
  border: none;
}
.rbc-day-bg + .rbc-day-bg {
  border-left: 2px solid #4e9bfe;
}
.rbc-month-view {
  border: 2px solid #4e9bfe;
  border-radius: 15px;
}
.rbc-today {
  background-color: #4e9bfe;
  color: #fff;
}
.rbc-current {
  color: #fff;
}
.rbc-header {
  margin: 8px;
  border-bottom: 2px solid #4e9bfe;
}
.rbc-header + .rbc-header {
  border-left: none;
}
.rbc-off-range-bg {
  background-color: #f8f8f8;
}
.rbc-off-range {
  color: #000;
}
.rbc-event {
  width: 5vw;
  border-color: #1bce94 !important;
}
.rbc-event-content {
  font-size: 0.6vw;
  width: 3vw;
}
.rbc-show-more {
  font-size: 0.65vw;
}
.rbc-row-segment {
  display: flex;
  align-items: center;
  justify-content: center;
}
.rbc-allday-cell {
  display: none;
}
.gettedAppointmentsNumberDiv {
  background-color: green;
  border-radius: 50%;
}
.gettedAppointmentsNumber {
  color: #fff;
  font-weight: 600;
  font-size: medium;
}
.rbc-event {
  background-color: #1bce94;
}
.rbc-show-more {
  background-color: rgba(255, 255, 255, 0);
  z-index: 4;
  font-weight: bold;
  height: auto;
  line-height: normal;
  color: #3174ad;
}
.past-event {
  opacity: 0.6;
  border-color: gray !important;
}
.empty-appointment {
  border-color: #ff9800 !important;
}
.request-appointment {
  border-color: #5d3587 !important;
}
@media only screen and (max-width: 768px) {
  .rbc-event {
    width: 44px !important;
  }
  .rbc-event-label {
    display: none;
  }
  .rbc-header {
    border-radius: 50%;
    border-bottom: none;
  }
  .rbc-button-link {
    padding: 2px;
  }
  .rbc-btn-group button {
    width: 44px;
    font-size: 12px;
    padding-left: 0;
    padding-right: 0;
  }
  .rbc-day-slot .rbc-event {
    width: 100% !important;
  }
  .rbc-event {
    width: 4vw;
  }
  .rbc-event-content {
    font-size: 3vw;
    width: 4vw;
  }
}
